# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/
gin-bin
.DS_Store
mainre
tmp
.air.toml
doc.go
history.md

# IDEA config file
.idea
main
sparrow_gp_v1
.vscode
mq
mq.sh

# vibe coding
.claude
CLAUDE.md

# format
pyrightconfig.json

